@page "/"

<PageTitle>Справедливая цена опциона. Метод Блэка-Шоулза. Главная страница</PageTitle>

<h1>О модели Блэка-Шоулза</h1>

<p>
	Модель Блэка-Шоулза — это математическая модель для оценки
	европейских и американских опционов, разработанная Фишером Блэком,
	Майроном Шоулзом и Робертом Мертоном в 1973 году. За эту работу
	Шоулз и Мертон получили Нобелевскую премию по экономике в 1997 году.
</p>
<h1>
	Ключевые предпосылки модели:
</h1>
<li>
	Опцион может быть исполнен только в дату экспирации (европейский)
</li>
<li>
	Волатильность актива постоянна в течение времени действия опциона
</li>
<li>
	Отсутствие комиссий и транзакционных издержек
</li>
<li>
	Эффективный рынок без арбитражных возможностей
</li>
<li>
	Логнормальное распределение цен базового актива
</li>
<h1 style="font-weight:bold; margin: 1.5em 0 0 0;">
	Выберите опцион из списка доступных для просмотра подробной информации
</h1>